@import './base.css';
@import 'tailwindcss';
@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/minimap/dist/style.css';
@import 'primeicons/primeicons.css';
@import '@vue-flow/controls/dist/style.css';
